html
    head
        title=title
    body
         h1 TODO
         form(
                 method="post"
                 action="/add"
                )
             input(
                    type="text"
                    name="add"
                    )/
             input(
                    type="submit"
                    value="Add"
                    )/
         ='\n'
         ul
             each todo in todos
                 li #{todo.content}